body {
  color: #142b6f;
 
}

/* Navbar Css */

#navbar {
  background-color: #fff;
  font-family: 'Dosis', sans-serif;
  position:static;
  overflow: hidden;
  padding: 8px;
  width: 100%;
}

#navbar h4, h5 {
  float: left;
  display: block;
  color: #142b6f;
  text-align: center;
  margin-left: 68px;
  padding: 8px;
  text-decoration: none;
}

.menu {
  margin-right: 362px;
  font-family: 'Dosis', sans-serif;
  font-size: 1.2rem;

}

.ritual {
  margin-right: 357px;
  font-size: 1.6rem;

}
.who{
  font-size: 1.2rem;
}



.cantainer {
  /* background-image: url('https://images.unsplash.com/photo-1585435557343-3b092031a831?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80'); */
  background-image: url('../src//img/bg.jpg');
  background-size: 100%;
  height: 460px;
  margin-top: 10px;
  margin-left: 28px;
  margin-right: 28px;
  /* width: 1200px; */
  /* margin-left: 37px;  */
}

.carr {
  text-align: center;
  padding: 12px;
}

/* Card2 */
.iconn{
  margin-left: 17rem;
}
.containers {
  padding: 44px;
}

.containerss {
  padding: 70px;
  margin-top: 42px;
  font-size: 400px;
  font-weight: 500;
}

.box {
  width: 150px;
  height: 215px;
  background: url("../src/img/c1.jpg") no-repeat;
  display: inline-block;
  background-size: cover;
  background-size: 100%;
}

.box:hover {
  background: url("../src/img/c2.jpg") no-repeat;
  background-size: cover;
  background-size: 100%;
}

.box2 {
  width: 150px;
  height: 215px;
  background: url("../src/img/c3.jpg") no-repeat;
  display: inline-block;
  background-size: cover;
  background-size: 100%;
}

.box2:hover {
  background: url("../src/img/a1.jpg") no-repeat;
  background-size: cover;
  background-size: 100%;
}

.box3 {
  width: 150px;
  height: 215px;
  background: url("../src/img/c4.jpg") no-repeat;
  display: inline-block;
  background-size: cover;
  background-size: 100%;
}

.box3:hover {
  background: url("../src/img/c2.jpg") no-repeat;
  background-size: cover;
  background-size: 100%;
}

.box4 {
  width: 150px;
  height: 215px;
  background: url("../src/img/c3.jpg") no-repeat;
  display: inline-block;
  background-size: cover;
  background-size: 100%;
}

.box4:hover {
  background: url("../src/img/a1.jpg") no-repeat;
  background-size: cover;
  background-size: 100%;
}

/* Featured 2 css */

.bbb-wrapper {
  margin-top: 20px
}

.fl-wrap {
  float: left;
  width: 100%;
  position: relative
}

.bbb-wrapper .subcribe-form p {
  color: #fff;
  font-size: 14px
}

.bbb-wrapper .subcribe-form form {
  max-width: 450px;
  margin: 15px auto;
  position: relative
}

.bbb-wrapper .subcribe-form #subscribe input {
  width: 100%;
  height: 48px;
  background: silver;
  border: none;
  outline: none;
  border-radius: 1px;
  padding: 0 30px;
  box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.2)
}

.bbb-wrapper .subcribe-form #subscribe #subscribe-button {
  height: 38px;
  padding: 0 30px;
  border-radius: 3px;
  border: none;
  position: absolute;
  right: 6px;
  top: 6px;
  font-size: 11px;
  color: #fff;
  cursor: pointer
}

.subscribe-message {
  color: #fff;
  float: left;
  margin-top: 10px;
  text-align: left;
  font-weight: 500;
  line-height: 19px
}

.color-bg {
  background: #142b6f;
}

#subscribe-button:hover {
  background: #2C3B5A;
  color: #fff
}

/* Social Button */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
 
}

.fa:hover {
  opacity: 0.7;
}